#wrapper header {
  padding-top: 100px;
}

#wrapper > header .inner {
  width: 65em;
}

a {
  color: #acc7da;
}

.wrapper .inner {
  width: 65em;
}

.navbar-wrapper a {
    border-bottom: dotted 0px;
    /* color: #ffffff; */
}

.navbar-inverse .navbar-brand {
  color: #337ab7;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 23px;
}

h2.major {
  margin-top: 70px;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 0px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu>li>a {
  display: block;
  padding: 9px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
