
.navbar-wrapper a {
    border-bottom: dotted 0px;
}

.navbar-inverse .navbar-brand {
  color: #337ab7;
}

.navbar-brand {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 23px;
}

h2.major {
  margin-top: 70px;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 0px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu>li>a {
  display: block;
  padding: 9px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

code {
  background: rgba(255, 255, 255, 0.025);
  border-radius: 5px;
  border: solid 2px rgba(255, 255, 255, 0.125);
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}
